body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #a569bd, #ffb6c1);

    @media only screen and (width < 640px) {
        display: block;
        background: white;
    }
}

input {
    position: absolute;
    top: 100px;
    left: 45px;
    width: 250px;
    height: 25px;
    padding: 10px 130px 10px 30px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
    background-color: #eeeeee;
    transition: transform 0.3s ease;

    &::placeholder {
        color: #888888;
        user-select: none;
    }
    
    &:hover {
        outline: none;
        background-color: #e6e6e6;
    }
    
    &:focus {
        outline: none;
        transform: scale(1.1);
    }

    &:focus + #botonAgregar {
        transform: scale(1.1) translateX(13px);
    }
}

ol {
    position: absolute;
    top: 190px;
    left: 30px;
    padding: 0px;
    max-height: 359px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #d1c4e9 transparent;
    scrollbar-width: thin;
    
    li {
        position: relative;
        margin: 10px;
        padding: 15px 145px 15px 20px;
        width: 255px;
        height: 30px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 30px;
        list-style: none;
        border-radius: 8px;
        color: #223d5b;
        background-color: #ebeaff;
        transition: background-color 0.3s ease;

        &[contentEditable="true"],
        &[contentEditable="true"]:hover {
            background-color: rgb(245, 250, 255);
            outline: 3px solid #50bfff;
        }

        &:hover {
            background-color: #e1e0ff;
        }
    }

    @media only screen and (width < 640px) {
        max-height: none;
    }
}

.container {
    position: relative;
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgb(0, 0, 0, 0.4);
    color: darkcyan;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeIn 0.5s ease-out forwards;

    @media only screen and (width < 640px) {
        position: absolute;
        top: 32px;
        border-radius: 0px;
        box-shadow: 0px 0px;
    }  
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.title {
    position: absolute;
    top: 20px;
    right: 110px;
    font-family: Roboto, Lato, sans-serif;
    color:#3c3c70;
    font-size: 28px;
    user-select: none;
}

.subtitle {
    position: absolute;
    top: 160px;
    left: 50px;
    font-family: Roboto, sans-serif;
    color: #5a5a5a;
    font-size: 18px;
    user-select: none;
    display: none;
}

.icono {
    position: absolute;
    left: 155px;
    width: 200px;

    @media only screen and (width < 640px) {
        top: 16px;
    }
}

.consejo {
    position: absolute;
    top: 208px;
    left: 50px;
    width: 400px;
    font-weight: 1000;
    line-height: 28px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #006bdd;
    opacity: 0.9;
    user-select: none;
    text-align: center;

    @media only screen and (width < 640px) {
        top: 240px;
    }
}

.sin-contenido {
    color: #888;

    &::before {
        content: 'Escribe una tarea...';
        color: #888;
        position: absolute;
        left: 20px;
        top: 15px;
    }
}

.material-symbols-outlined {
    position: absolute;
    top: 4px;
    left: 3px;
}

.lista-vacia {
    position: absolute;
    top: 208px;
}

.input-fade {
    color: #333;
    animation: fadeOut 0.3s ease;
}

@keyframes fadeOut {
    to {
      color: transparent;
    }
}

.creacion {
    animation: creacion 0.3s ease-out;
}

@keyframes creacion {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.eliminacion {
    animation: eliminacion 0.3s ease-out;
}

@keyframes eliminacion {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.9);
    }
}

.completado {
    animation: completado 0.3s ease-out, creacion 0s ease-out;
}

@keyframes completado {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.tachado {
    text-decoration: line-through wavy 3px mediumblue;
    background-color: #a5ffbd;

    .marcar {
        background-color: #0056b3;

        &:hover {
            background-color: #006bdd;
        }
    }

    &:hover {
        background-color: #90ffab;
    }
}

.marcar,
.editar,
.eliminar,
#botonLimpiar,
#botonCompletar,
#botonEliminar {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
    animation: creacionBotones 0.5s ease-out;
}

.marcar {
    left: 300px;
    background-color: #007bff;

    &:hover {
        background-color: #4da8f5;
    }

    &:active {
        background-color: #007bff;
        transform: scale(1.1);
    }
}

.editar {
    left: 340px;
    background-color: #ffc107;

    &:hover {
        background-color: #ffd42a;
    }

    &:active:not([disabled]) {
        background-color: #ffc107;
        transform: scale(1.1);
    }

    &:disabled {
        background-color: #ffe065;
        cursor: default;
    }
}

.eliminar {
    left: 380px;
    background-color: #dc3545;

    .material-symbols-outlined {
        position: absolute;
        top: -4px;
        left: 3px;
    }

    &:hover {
        background-color: #e06067;
    }

    &:active {
        background-color: #dc3545;
        transform: scale(1.1);
    }
}

#botonAgregar {
    position: absolute;
    top: 100px;
    left: 335px;
    width: 120px;
    height: 45px;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    user-select: none;
    background-color: #28a745;
    transition: transform 0.3s ease;

    &:hover {
        background-color: #218838;
    }
}

#botonLimpiar,
#botonEliminar,
#botonCompletar {
    display: none;
    top: 160px;
    width: 40px;
    height: 40px;
    animation: creacionBotones 0s;

    .material-symbols-outlined {
        position: absolute;
        top: 4px;
        left: 4px;
        font-size: 32px;
    }
}

@keyframes creacionBotones {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    60% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#botonLimpiar {
    left: 410px;
    background-color: #dc3545;

    &:hover {
        background-color: #dc3545cc;
    }
    
    &:active {
        transform: scale(1.1);
        background-color: #dc3545;
    }
}

#botonEliminar {
    left: 365px;
    background-color: #ffc107;
    
    &:hover {
        background-color: #ffd42a
    }
    
    &:active {
        transform: scale(1.1);
        background-color: #ffc107
    }
    
    &:active:not([disabled]) {
        background-color: #ffc107;
        transform: scale(1.1);
    }
    
    &:disabled {
        background-color: #ffe065;
        cursor: default;
    }
    
    &:disabled:active {
        background-color: #ffe065;
        transform: scale(1);
    }
}

#botonCompletar {
    left: 320px;
    background-color: #28a745;

    &:hover {
        background-color: #28a745cc;
    }
    
    &:active {
        transform: scale(1.1);
        background-color: #28a745
    }
}

::selection {
    background-color: #90d6ff;
}
